<h1><%= @airline.name %></h1>
<% @airline.tickets.each do | ticket | %>
<h1><%= ticket.departure_city%>-<%= ticket.destination_city %></h1>
<% end %>

<form method="post" action="/remove/<%= @airline.id %>">
    <input type="submit" value="delete airline" >
</form>
